<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action=" {{recommend}}">
        <label>Product_Name:</label>
        <input type="text" name="productname">
        <br><br>
        <input type = 'submit' value  = 'search'>
    </form>
    <span name = 'produtname'>
        {{productname}}
    </span>
    <span>{{data}}</span>
</body>
</html>